/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  padding-top: 70px; /* espacio para la navbar fija */
}

/* Logo personalizado */
.logo {
  font-size: 2.2em;
  font-weight: bold;
  color: #007BFF;
}

/* Espacio de la barra de navegación */
.navbar-nav .nav-link {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-nav {
  margin-right: 50px;
}

/* Secciones */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Mueve el texto hacia arriba */
  align-items: center;
  padding: 100px 20px 20px; /* Añade un espacio superior para separar de la navbar */
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #007BFF;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 1.3em;
  max-width: 700px;
  margin: 0 auto 30px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
}

ul li {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: left;
}

ul li strong {
  color: #007BFF;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a.logo:hover{
  color: #007BFF;
}

a.nav-link:hover {
  text-decoration: underline;
}

footer {
  background: #fff;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
